BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Allman
ColumnLimit: 128
IndentCaseLabels: false
IndentWidth: 2
SortIncludes: false
TabWidth: 2
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
PointerAlignment: Left
AllowShortLambdasOnASingleLine: Inline